### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


*.xcuserstate
# core
core
core-*
realm-core-*-xcframework

# sh build.sh test
build/


# sh build.sh cocoapods-setup
/include

# sh build.sh docs
/docs/objc_output
/docs/swift_output
/Realm/RLMPlatform.h

# XCode
*.bak
xcuserdata/
*.xcworkspace
*.xccheckout
DerivedData
/.build

# AppCode
.idea/
*.iml
# backup and crash files
*.swp

# xcpretty
build.log

Pods/
*.lock